<mat-card class="login-card" *ngIf="loginForm">
  <!-- <mat-card-header> -->
  <mat-card-title>Sign in to continue to the App</mat-card-title>
  <!-- </mat-card-header> -->
  <form [formGroup]="loginForm" (submit)="loginUser()" *ngIf="showForm">
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="signinUsername" placeholder="Username">
              <mat-error>{{this.formDisplayError['signinUsername']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input type="password" formControlName="signinPassword" matInput placeholder="Password">
              <mat-error>{{this.formDisplayError['signinPassword']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>

    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button>Sign In</button>
      <button type="button" mat-button (click)="navigateToSignUp()">Create a new Account</button>
    </mat-card-actions>
  </form>
</mat-card>
