<mat-card class="login-card">
  <!-- <mat-card-header> -->
  <mat-card-title>Sign Up</mat-card-title>
  <!-- </mat-card-header> -->
  <form [formGroup]="userForm" (submit)="formSubmit()">
    <mat-card-content>
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="firstName" placeholder="First Name">
              <mat-error>{{this.formDisplayError['firstName']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="lastName" placeholder="Last Name">
              <mat-error>{{this.formDisplayError['lastName']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="surname" placeholder="Surname">
              <mat-error>{{this.formDisplayError['surname']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="email" placeholder="Email Id">
              <mat-error>{{this.formDisplayError['email']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="phoneNumber" placeholder="Phone Number">
              <mat-error>{{this.formDisplayError['phoneNumber']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <textarea matInput formControlName="address" placeholder="Address"></textarea>
              <mat-error>{{this.formDisplayError['address']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="birthday" [max]="maxDate" [matDatepicker]="picker" placeholder="Birthday">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>{{this.formDisplayError['birthday']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input matInput formControlName="username" placeholder="Username">
              <mat-error>{{this.formDisplayError['username']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input type="password" formControlName="password" matInput placeholder="Password">
              <mat-error>{{this.formDisplayError['password']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input type="password" formControlName="confirmPassword" matInput placeholder="Confirm Password">
              <mat-error>{{this.formDisplayError['confirmPassword']}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" mat-raised-button (click)="openCropper()">
              Upload Profile picture
            </button>
            <input class="hide-it" matInput formControlName="imageSrc" placeholder="Image Source">
            <mat-error>{{this.formDisplayError['imageSrc']}}</mat-error>
            <canvas [ngClass]="{'hide-it': !showImage}" #myCanvas></canvas>
            <!-- <img [src]="imgSrc" id="tableBanner" /> -->
            <!-- <input #fileUpload id="fileInput" accept="image/x-png,image/gif,image/jpeg" class="hide-it" type="file" (change)="fileChange($event.target.files)"> -->
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Submit</button>
      <button mat-button (click)="navigateToSignIn()">Navigate to Sign In</button>
    </mat-card-actions>
  </form>
</mat-card>
