<h3>
  Signed In User Info:
</h3>

<div *ngIf="userInfo">
  <img [src]="userInfo.imageSrc" />
  <br> First Name: {{userInfo.firstName}}
  <br> Last Name: {{userInfo.lastName}}
  <br> Surname: {{userInfo.surname}}
  <br> Email: {{userInfo.email}}
  <br> Phone Number: {{userInfo.phoneNumber}}
  <br> Address: {{userInfo.address}}
  <br> Birthday: {{userInfo.birthday | date}}
  <br> Username: {{userInfo.username}}


</div>
<br>
<hr>
<br>

<div>

    Please enter any valid api, open the network tab in developer tools and click below button it will initiate a http request with
    bearer token
    <br>
    It will inject Authorization: Bearer "token"
    <br>
    <br>
    <mat-form-field class="full-width">
      <input [(ngModel)]="uri" matInput placeholder="Enter URL to initiate http request" value="https://reqres.in/api/products/3">
    </mat-form-field>
    <br>
    <button (click)="testHttpInterceptor()" type="button" mat-button>Test Interceptor</button>

</div>